[submodule "0-onbording-mission"]
	path = 0-onbording-mission
	url = https://github.com/woowacourse-precourse/java-onboarding.git
[submodule "1-java-baseball"]
	path = 1-java-baseball
	url = https://github.com/woowacourse-precourse/java-baseball.git
[submodule "2-java-lotto"]
	path = 2-java-lotto
	url = https://github.com/woowacourse-precourse/java-lotto.git
[submodule "3-java-bridge"]
	path = 3-java-bridge
	url = https://github.com/woowacourse-precourse/java-bridge.git
[submodule "4-java-menu"]
	path = 4-java-menu
	url = https://github.com/woowacourse-precourse/java-menu.git
[submodule "5-java-racingcar"]
	path = 5-java-racingcar
	url = https://github.com/woowacourse/java-racingcar-precourse.git
[submodule "6-java-vendingmachine"]
	path = 6-java-vendingmachine
	url = https://github.com/woowacourse/java-vendingmachine-precourse.git
